<footer class="footer">
  <div class="container">
    <p class="copyright">Copyrights @ <span class="highlight">Amir Mustafa</span></p>

    <div class="social-icons">
      <a
        href="https://www.linkedin.com/in/amir-mustafa-ibrahim/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/AmirMostafa99"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <i class="fab fa-github"></i>
      </a>

      <a
        href="https://wa.me/201012744025"
        target="WhatsApp"
        rel="noopener noreferrer"
        aria-label="WhatsApp"
      >
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
</footer>
